name: Abyss 997 -> M3U8 -> Deploy -> AV1 -> Error

on:
  workflow_dispatch:
    inputs:
      id:
        description: 'ID'
        required: true
      slug:
        description: 'Slug'
        required: true
      token:
        description: 'Token'
        required: true
      projectName:
        description: 'projectName'
        required: true
      accountId:
        description: 'AccountID'
        required: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2

      - name: Download abyss-dl.jar
        run: |
          mkdir -p tools
          curl -L \
            -o tools/abyss-dl.jar \
            https://github.com/abdlhay/AbyssVideoDownloader/releases/latest/download/abyss-dl.jar

      - name: Convert H264 to HLS (.m3u8)
        run: |
          mkdir -p output
          INPUT="${{ github.event.inputs.slug }}.mp4"

          ffmpeg -i "$INPUT" \
            -map 0:v:0 \
            -map 0:a:0 \
            -c:v copy \
            -c:a aac \
            -profile:a aac_low \
            -ar 48000 \
            -ac 2 \
            -b:a 128k \
            -start_number 10001 \
            -hls_time 4 \
            -hls_list_size 0 \
            -hls_segment_type fmp4 \
            -hls_fmp4_init_filename "${{ github.event.inputs.slug }}-index.png" \
            -hls_segment_filename "output/${{ github.event.inputs.slug }}-index%d.png" \
            -f hls "output/${{ github.event.inputs.slug }}.m3u8"


      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ github.event.inputs.token }}
          accountId: ${{ github.event.inputs.accountId }}
          projectName: ${{ github.event.inputs.projectName }}
          directory: ./output
          branch: ${{ github.event.inputs.slug }}

      - name: Callback success
        if: success()
        run: |
          curl -G "https://cp.ssplay.net/cf.php" \
            --data-urlencode "type=ok" \
            --data-urlencode "key=${{ github.event.inputs.projectName }}" \
            --data-urlencode "slug=${{ github.event.inputs.slug }}"

      - name: Callback error
        if: failure()
        run: |
          curl -G "https://cp.ssplay.net/cf.php" \
            --data-urlencode "type=error" \
            --data-urlencode "slug=${{ github.event.inputs.slug }}"
